{% load static widget_tweaks %}  

<div class="task-item {{ task.status }}">
    <div class="task-title">
        <p>{{ task.title }}</p>
    </div>
    <div class="task-details">
        <div class="points">{{ task.points }} points</div>
        {% if not task.completed %}
            <button 
                class="status" 
                type="button" 
                onclick="showPopup('{{ task.id }}')"
            >
                Open
            </button>
        {% else %}
            <button class="status" type="button" disabled>Completed</button>
        {% endif %}
    </div>
</div>

<!-- Popup for task -->
<div id="popup-{{ task.id }}" class="popup">
    <div class="popup-title">
        <h2>{{ task.title }}</h2>
        <button class="close-button" onclick="hidePopup('{{ task.id }}')">
            <i class="fa-solid fa-x"></i>
        </button>
    </div>
    <label>
        {% if task.title == "WORD OF THE DAY" %}
        <p>Try to find the sustainable word of the day!</p>
            <div class="word-search-box">
                <p>{{ task.content }}</p>
            </div>
            <!-- Form for word search -->
            <form method="post">
                {% csrf_token %}
                {% render_field form.response class="form-control" placeholder="enter guess here"%}
                <button type="submit">Check Word</button>
            </form>
            {% if task.completed %}
                <button class="status" type="button" disabled>Completed</button>
            {% endif %}
        {% endif %}

        {% if task.title == "GREEN2GO CONTAINER" %}
            <div class="qr-code">
                <p>Scan the QR code below to complete this task:</p>
                <img src="/static/qr_codes/task_{{ green2go_task.id }}.png">
            </div>
        {% endif %}
    </label>
</div>

<!-- Overlay for popup -->
<div id="overlay-{{ task.id }}" class="overlay" onclick="hidePopup('{{ task.id }}')"></div>
