{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmation{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/confirmation.css">
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <title>Confirmation</title>
</head>

<body>
<div class="content">
    <h2>Name: {{ profile.name }}</h2>
    <h2>Role: {% if profile.username.is_superuser %} Supervisor
        <div class="mt-4 center-button">
            <a href="{% url 'manage_users' %}" class="btn btn-success">Manage Users</a>
        </div>
        <div class="mt-4 center-button">
            <a href="{% url 'explore' %}" class="btn btn-success">Explore Photos</a>
        </div>
        {% else %} Student </h2>
        <a href="{% url 'explore' %}" class="btn btn-success">Explore Photos</a>
    
    {% endif %}
</div>
</body>
</html>

{% endblock %}