{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Profile Page{% endblock %}

{% block content %}

<style>
    form {
        height: 100%;
        width: 100%;
    }

    .content-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 20px;
    }

    .pfp-container {
        height: 20%;
        width: 30%;
        padding: 10px;
    }

    .info-container {
        height: 70%;
        width: 70%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-content: stretch;
    }
</style>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content-container">
        <div class="pfp-container">
            <div class="mb-3">
                <label for="id_picture">Profile Picture:</label>
                {{ form.picture|add_class:"form-control-file" }}
            </div>
        </div>
    
        <div class="info-container">
            <h2 style="grid-column: 1/3; grid-row: 1;">Personal Information</h2>
            <div class="mb-3">
                <label for="id_name">Full Name:</label>
                {{ form.bc_email|add_class:"form-control" }}
            </div>
    
            <div class="mb-3">
                <label for="id_username">Username:</label>
                {{ form.bc_email|add_class:"form-control" }}
            </div>
    
            <div class="mb-3">
                <label for="id_bc_email">BC Email:</label>
                {{ form.bc_email|add_class:"form-control" }}
            </div>
    
            <div class="mb-3">
                <label for="id_school">School:</label>
                <select name="school" class="form-select" required>
                    <option value="" disabled selected>School</option>  <!-- Placeholder -->
                    {% for value, label in form.school.field.choices %}
                        <option value="{{ value }}" {% if form.school.value == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="mb-3">
                <label for="id_major1">Primary Major:</label>
                {% render_field form.major1 class="form-control" placeholder="major" %}
            </div>
        
            <div class="mb-3">
                <label for="id_major2">Secondary Major (Optional):</label>
                {% render_field form.major2 class="form-control" placeholder="(optional)" %}
            </div>
        
            <div class="mb-3">
                <label for="id_minor1">Minor (Optional):</label>
                {% render_field form.minor1 class="form-control" placeholder="(optional)" %}
            </div>
        
            <div class="mb-3">
                <label for="id_minor2">Additional Minor (Optional):</label>
                {% render_field form.minor2 class="form-control" placeholder="(optional)" %}
            </div>
        
            <div class="mb-3">
                <label for="id_graduation_year">Graduation Year:</label>
                {% render_field form.graduation_year class="form-select" %}
            </div>
        </div>
    
    </div>
    

    <button type="submit" name="save" class="btn btn-primary mt-3">Save Profile</button>
</form>
{% endblock %}
