.actions-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr;
    gap: 20px 100px;
    padding: 20px;
    background-color: white;
    height: 100%;
}

.profile-icon {
    font-size: 4rem; 
    color: black;
}

.profile-summary {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    background-color: #DFEDE2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.profile-info h2 {
    margin: 0;
    padding-bottom: 5px;
}

.profile-info p {
    margin: 0;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    align-content: center;
}


.daily-progress {
    grid-column: 1;
    grid-row: 2/5;
}

.calendar-container {
    grid-column: 2;
    grid-row: 1/3;
}

.extra-tasks {
    grid-column: 2;
    grid-row: 3/5;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #CAC4D0;
    border-radius: 10px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.task-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.progress-bar {
    background-color: rgba(64, 130, 109, 0.06);
    border-radius: 10px;
    height: 10px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
    background-color: #40826D; 
    height: 100%;
    width: calc(var(--progress, 0) * 1%);
    width: 0;
    transition: width 0.5s ease;
    text-align: center;
    color: white;
    line-height: 20px;
}

.status {
    background-color: white;
    border: none
}

.status:hover {
    color: #B8D8BE;
}

button.status:disabled {
    color: #666;
    cursor: not-allowed;
}

button.status:disabled:hover {
    color: #666; 
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    width: 70%;
    height: 70%;
}

/* Overlay for the popup */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Close button */
.close-button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #73A497;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    background-color: #73A497;
    color: white;
    padding: 0 20px;
}