/* Sidebar styling */
.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #B8D8BE;
    overflow-x: hidden;
    padding-top: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav a {
    text-decoration: none;
    color: #49454F;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.sidenav a:hover {
    color: #8E8E93;
}

.sidenav i {
    font-size: 25px;
    padding-bottom: 10px;
}

/* Main content styling */
.main {
    margin-left: 100px;
    padding: 10px;
    height: 100vh;
    width: calc(100% - 100px);
}

/* Hamburger Menu */
.hamburger-menu {
    position: fixed;
    padding-top: 20px;
    left: 27px;
    font-size: 30px;
    z-index: 10;
    cursor: pointer;
    display: none; /* Initially hidden */
}

/* Modal styling */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #B8D8BE;
    color: #73A497;
    font-weight: bold;
}

.cancel-button {
    background-color: lightgray;
    color: gray;
    font-weight: bold;
}

/* Mobile responsiveness: Hide sidebar and show hamburger on small screens */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .sidenav {
        display: none; 
    }

    .main {
        margin-left: 0; 
        width: 100%; 
    }
}

.sidenav.d-block {
    display: block; 
}

.sidenav.d-none {
    display: none; 
}

.sidenav {
    transition: all 0.3s ease;
}

.main {
    transition: margin-left 0.3s ease;
}
