body {
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 90%;
    background: white;
    align-items: center;
    justify-content: center;
    margin: 15% 5%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link.active {
    background-color: #E8F4EA;
    color: #40826D;
    font-weight: bold;
    border-color: #40826D;
}

.nav-tabs .nav-link {
    color: #73A497;
}

.nav-tabs .nav-link:hover {
    color: #E8F4EA;
}

.tab-content {
    padding: 20px;
    border-radius: 0.5rem;
}

.container h1 {
    color: #007BFF;
}

button[type="submit"] {
    background-color: #007BFF;
    border-color: #007BFF;
    color: white;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
