
.content-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 20px 20px;
    overflow: hidden;
}

.points-display {
    grid-column: 1;
    grid-row: 1;
    background-color: #B8D8BE;
    width: 80%; /* Adjust width to control the oval's width */
    height: 90%; /* Adjust height for desired oval shape */
    border-radius: 50%; /* Creates an oval shape */
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    flex-direction: column; /* Stacks h2 elements vertically */
    text-align: center; /* Centers text inside the container */
    justify-self: center;
    align-self: center;
}

.scrollable-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: stretch;   
    overflow-y: scroll;
}

.title, .redeemed, .reward, .history, .ineligible-reward {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 20%;
    flex: 0 0 auto;
    padding: 10px;
    overflow: hidden;
}

.redeemed:hover, .reward:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

  
.scrollable-section::-webkit-scrollbar {
    width: 8px;
}
  
.scrollable-section::-webkit-scrollbar-track {
    background: transparent; /* Set track background (transparent if no track is desired) */
    margin: 12px; /* Creates a space around the scrollbar thumb for a padding effect */
}
.scrollable-section::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}


.user-rewards {
    grid-column: 2;
    grid-row: 2;
    background-color: #B8D8BE;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.redeem {
    grid-column: 2;
    grid-row: 1;
    background-color: #B8D8BE;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.user-history {
    grid-column: 1;
    grid-row: 2;
    background-color: #B8D8BE;
    border-radius: 20px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.points {
    color: #ff0000;
    font-size: 75px;
    margin: 0;
}

.points-title {
    font-size: 50px;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h3 {
    font-size: 30px;
    margin: 0;
}

.history {
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
}

.reward,.ineligible-reward {
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
}

.redeemed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeemed-item {
    align-content: center;
}


.reward-item, .history-item {
    font-size: 25px;
    align-content: center;
}

.redeemed-item {
    font-size: 25px; 
    text-align: center;
    align-self: center;
}

.redeemed-item {
    grid-row: 2;
}

.reward-points {
    text-align: right;
    align-content: center;
    color: gray;
    font-size: 20px;
}



.redeemed-wrapper, .history-wrapper, .reward-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.history-wrapper, .reward-wrapper {
    text-align: right;
}

.history-points, .reward-points {
    grid-row: 2;
    color: gray;
    font-size: 20px;
}

.history-date, .history-location, .reward-date, .redeemed-date {
    grid-row: 3;
    color: gray;
    text-align: right;
}

.redeemed-date {
    text-align: center;
}






