* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures full height for the content */
    overflow-y: auto; /* Prevents unintended scroll */
}

